
.select-card{
    display: column;
    align-content: center;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px gray;
    background-color: bisque;
    height: 150px;
    width: 150px;
    margin-top: .25rem;
    padding-left: .15rem;
    padding-right: .15rem;
}

.card-grid{
    justify-content: space-evenly;
    display: grid;
}

.create-form{
    text-align: center;
}